@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), url(http://example.com/fonts/ubuntu.woff) format("woff");
}
.button-small, .button-large {
  color: #ffffff;
  border-color: #FDFDFD;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.81), inset -1px -1px 0px rgba(255, 255, 255, 0.33);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.81), inset -1px -1px 0px rgba(255, 255, 255, 0.33);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.81), inset -1px -1px 0px rgba(255, 255, 255, 0.33);
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#cf000000,Positive=true)";
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#cf000000, Positive=true);
}

body {
  font-family: "Ubuntu", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.button-large {
  display: inline-block;
  padding: 0 24px;
  border: 3px #EBEBEB solid;
}

.button-small {
  display: inline-block;
  padding: 0 10px;
  border: 3px #EBEBEB solid;
}

.button-orange {
  color: white;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  background-color: #FF8800;
  border: 2px white solid;
  line-height: 20px;
  text-decoration: none !important;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFB700), color-stop(1, #FB8219));
  background-image: -o-linear-gradient(bottom, #FFB700 0%, #FB8219 100%);
  background-image: -moz-linear-gradient(bottom, #FFB700 0%, #FB8219 100%);
  background-image: -webkit-linear-gradient(bottom, #FFB700 0%, #FB8219 100%);
  background-image: -ms-linear-gradient(bottom, #FFB700 0%, #FB8219 100%);
  background-image: linear-gradient(to bottom, #FFB700 0%, #FB8219 100%);
}

.button-red {
  color: white;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  background-color: #B70101;
  border: 2px white solid;
  line-height: 24px;
  text-decoration: none !important;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EB1C1B), color-stop(1, #B70101));
  background-image: -o-linear-gradient(bottom, #EB1C1B 0%, #B70101 100%);
  background-image: -moz-linear-gradient(bottom, #EB1C1B 0%, #B70101 100%);
  background-image: -webkit-linear-gradient(bottom, #EB1C1B 0%, #B70101 100%);
  background-image: -ms-linear-gradient(bottom, #EB1C1B 0%, #B70101 100%);
  background-image: linear-gradient(to bottom, #EB1C1B 0%, #B70101 100%);
}

.button-orange:hover, .button-red:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #f3f3f3);
  background-image: -moz-linear-gradient(top, #ffffff, #f3f3f3);
  background-image: -ms-linear-gradient(top, #ffffff, #f3f3f3);
  background-image: -o-linear-gradient(top, #ffffff, #f3f3f3);
  background-image: linear-gradient(to bottom, #ffffff, #f3f3f3);
  color: #666666;
  border-color: #EBEBEB;
}

.breadcrumb-container {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.37);
}

.breadcrumb {
  padding-left: 0px;
  background-color: #ffffff;
  margin-bottom: 0px;
}

.breadcrumb a {
  color: #000000;
}

.breadcrumb .active {
  color: #FFB700;
}

.breadcrumb a:hover {
  color: #FFB700;
  text-decoration: none;
}

.breadcrumb li {
  font-size: 25px;
  font-weight: bold;
  color: #0f0f0f;
  padding-top: 5px;
}

.breadcrumb-item:before {
  color: #FFB700;
  content: ">";
  margin-right: 20px;
  padding-top: 20px;
}

.breadcrumb-item:first-child:before {
  content: "";
  margin-right: 60px;
}

.language {
  text-align: right;
  line-height: 5;
}

.menu-container {
  background-color: #DEDEDE;
}
.menu-container a {
  color: #7d7d7d !important;
  font-weight: bold;
}
.menu-container li:first-child {
  margin-left: 35px;
}

.bg-dark {
  background-color: #010101;
  color: #ffffff;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.p-10 {
  padding: 10px;
}

.border-1 {
  border: 1px solid #cccccc;
}

.rounded-4 {
  border-radius: 4px;
}

@media (max-width: 768px) {
  .sm-center {
    text-align: center;
  }

  .menu-container li:first-child {
    margin-left: 0px;
  }
}
.custom_table th:last-child {
  width: 130px;
}
.custom_table th, .custom_table td {
  text-align: center;
  border-top: 0;
  border-bottom: 1px solid #ddd;
}
.custom_table th a {
  color: #0f0f0f;
}

.custom_table_view th:last-child {
  width: 130px;
}
.custom_table_view th, .custom_table_view td {
  text-align: left;
  border-top: 0;
  border-bottom: 1px solid #ddd;
}
.custom_table_view th a {
  color: #0f0f0f;
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination li > a, .pagination li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #000000;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination .active > a, .pagination .active > span, .pagination .active > a:hover, .pagination .active > span:hover, .pagination .active > a:focus, .pagination .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #FFB700;
  border-color: #FFB700;
}

/*# sourceMappingURL=main.css.map */
